extends layout

block content
    div(class="container title")
        h2 Exercise Tracker
    div(class="container")
        ol(class="example") Example Usage:
            li: code.
                test
            li: code.
                test2

        //h4 Upload a File
        //form(action="/upload", method="POST", enctype="multipart/form-data")
        //    div(class="container")
        //        input(type="file", name="givenFile")
        //        input(type="submit")
